.footer {
  &__wrapper {
    display: flex;
    align-items: center;
    padding: rem(10);
    justify-content: space-around;
    background-color: #212121;
  }
  &__href {
    text-decoration: none;
    color: #999;
    transition: color 0.3s ease;
    &:hover {
      color: #ffffff;
    }
  }
  &__year {
    color: #ffffff;
  }
}