@import "mixsin";

.car-circle {
  animation: wheel 1s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.race {
  &__wrapper {
    flex: 1 0 auto;
  }
}

.race-control {
  display: flex;
  gap: rem(15);
  padding: rem(25);
  &__btn {
    padding: rem(20);
  }
  &__start {
    background-color: #00ff00;
  }
  &__break {
    background-color: #ff0000;
  }
}

.car-item {
  position: relative;
  margin: rem(10);
  &__form {
    position: absolute;
    top: 20%;
  }
  &__icon-wrapper {
    position: relative;
    &:after {
      position: absolute;
      top: rem(40);
      right: 10%;
      content: '';
      width: rem(30);
      height: rem(30);
      background: url("../assets/finish-line-flag.svg") no-repeat center;
    }
    & svg {
      width: rem(200);
      height: rem(100);
    }
  }
  &__road {
    position: relative;
    bottom: rem(45);
  }
  &__engage {
    background-color: #00ff00;
  }
  &__break {
    background-color: #ff0000;
  }
  &__btn {
    padding: rem(5);
    cursor: pointer;
  }
}
